[Unit]
Description=RoiApp

[Service]
WorkingDirectory=/home/ec2-user/roi-calculator/app
ExecStart=/usr/bin/dotnet /home/ec2-user/roi-calculator/app/AbcRoiCalculatorApp.dll --urls=http://localhost:3333
Restart=always
# Restart service after 10 seconds if the dotnet service crashes:
RestartSec=10
KillSignal=SIGINT
SyslogIdentifier=roi-exchange-rate-service
User=ec2-user
Environment=ASPNETCORE_ENVIRONMENT=Production

[Install]
WantedBy=multi-user.target
